.preco {
  margin-left: 30%;
  font-size: 16px;
  font-weight: bolder;
}

.container:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
  transition: 0.6s;
}

.container {
  padding: 0;
  transition: 0.6s;
}
