<div class="container">
    <div class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/05/21/00/02/dry-dog-food-5198627__340.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{nomeProduto}} {{titulo1}} </h5>
            <p class="card-text"> {{descricaoProduto}} </p>
            <button href="#">Comprar</button><span class="preco">
                {{valorProduto | currency:'R$:' }}</span>
        </div>
    </div>
</div>