<div class="Wapper">
    <div class="Conteiner">
        <app-filtro-grid (filterCheck)="filterChecked($event)"></app-filtro-grid>
        <div class="girdLoja">
            <p *ngIf="!productsSelect">
                Escolha uma Categoria
            </p>
            <div *ngFor="let product of productsSelect">
                <div *ngIf="product.typeProduct == type">
                    <app-gird-card [product]="product" [nomeProduto]="product.name" [descricaoProduto]="product.name" [valorProduto]="product.price"></app-gird-card>
                </div>
            </div>
        </div>
    </div>
</div>