ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.10));

  width: 300px;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.icone {
  padding: 10px;
  cursor: pointer;
  transition: 1s;
}

svg {
  transition: 1s;
}

svg:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: 0.6s;
}

.lista {
  list-style: none;
}

.lista-item {
  margin: 10px;
  font-weight: bolder;
  cursor: pointer;
  padding: 5px;
  transition: 0.6s;
  border-radius: 4px;
}

.lista-item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: 0.6s;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.esconde {
  display: none;
}

.mostra {
  display: block;
}