.root {
  background: linear-gradient(45deg, #012840, #FF7E70, #FFAE3D, #1F8E7E, #D5E0DB);
  background-size: 350% 350%;
  position: relative;
  height: 100%;
  width: 100%;
  animation: colors 15s ease infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

}


.root h1 h2 h3 h4 h5 {
  font-family: 'Montserrat', sans-serif;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }


  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}

.esconder {
  display: none;
}


.root button {
  border: 0;
  border-radius: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.10));
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  width: 200px;
  height: 55px;
  margin: 30px;
  animation: colors 15s ease infinite;
  background-size: 350% 350%;
  transition: 0.6s;
  font-family: 'Montserrat', sans-serif;
}


.root button:hover {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.0);
  transition: 0.6s;
}
