.foto {
  border-radius: 4px;
  max-width: 100%;
  margin: 10px;
  transition: 0.6s;
}

.foto:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
  transition: 0.6s;
  
}

.Conteiner_vl {
  padding: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px;
  text-align: center;
}
