<div class="Conteiner_vl">
    <div calss="text-justify">
        <img class="foto" src="https://cdn.pixabay.com/photo/2016/11/22/19/41/adorable-1850276__340.jpg" alt="Foto de Cachorro">
        <h4 class="font-weight-normal"> Um texto bem completo e desenvolvido sobre cachooros com uma pitada de amor e carinho.</h4>
    </div>
    <div>
        <img class="foto" src="https://cdn.pixabay.com/photo/2020/06/30/22/34/dog-5357794__340.jpg" alt="Foto de Cachorro">
        <h4 class="font-weight-normal">Um texto bem completo e desenvolvido sobre cachooros com uma pitada de amor e carinho.</h4>
    </div>
    <div>
        <img class="foto" src="https://cdn.pixabay.com/photo/2017/03/27/13/23/animal-2178696__340.jpg" alt="Foto de Cachorro">
        <h4 class="font-weight-normal">Um texto bem completo e desenvolvido sobre cachooros com uma pitada de amor e carinho.</h4>
    </div>
</div>
