.gird {
  padding: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.divCenter {

  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.button {
  border: 0;
  border-radius: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.10));
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  width: 200px;
  height: 55px;
  margin: 30px;
  animation: colors 15s ease infinite;
  background-size: 350% 350%;
  transition: 0.6s;
  font-family: 'Montserrat', sans-serif;
}


.button:hover {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.0);
  transition: 0.6s;
}


@keyframes colors {
  0% {
    background-position: 0% 50%;
  }


  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}


.button span {
  font-size: 20px;

}

.card {
  background-size: 650% 650%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.38));
  border-radius: 3vw 4vw 8vw 2vw;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  font-family: 'Montserrat', sans-serif;
  animation: colors 15s ease infinite;
  font-size: 30px;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}
