<app-header titulo1="Home" titulo2="Loja" titulo3="Serviços"></app-header>
<div class="ui celled grid">
    <div class="row">
        <div class="three wide column"><img src="https://cdn.pixabay.com/photo/2019/02/06/15/18/puppy-3979350__340.jpg" class="ui image" /></div>
        <div class="thirteen wide column">
            <div class="ui container">
                <h1>Seja bem Vindo!</h1>
                <p>
                    Aqui Vocé encontra tudo para o seu amiguinho de 4 patas, vendemos produtos de qualidade e porecendica
                </p>
            </div>
        </div>
    </div>
</div>
<div class="gird">

    <h1>teste</h1>
    <h1>teste</h1>

</div>
<app-grid-tres-colunas></app-grid-tres-colunas>
